In [13]:
'Bismillah'

'Bismillah'

'hellow' # shift + enter

# This is a Heading 1
## This is a Heading 2
### This is a Heading 3

In [17]:
print('Allah please provide', 'rahamat on me and my family');

Allah please provide rahamat on me and my family

In [19]:
var = 'My name is anis';
#print(var);
id(var);
print(id(var));
import sys
sys.getsizeof(var)

2007719399088

56

In [21]:
x= input('Enter a value');

Enter a value 8

In [25]:
data='I am Illi Tyu'
data.encode()

b'I am Illi Tyu'

In [61]:
w= [1,8,9,2,[10.5,23.9],'test']
print(w)

[1, 8, 9, 2, [10.5, 23.9], 'test']

In [27]:
w.index(2)

NameError: name 'w' is not defined

In [4]:
n= complex(input('Enter a complex number'))

Enter a complex number 2

In [6]:
n

(2+0j)

In [8]:
#Range ()
x=range(10)

In [10]:
x

range(0, 10)

In [12]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
#Data frame(pandas)
import pandas as pd
df = pd.read_csv(r'E:\Data Science\ekyc_data.csv')

In [31]:
df.head()

,POINT_ID,DISTRICT,ACCOUNT_NUMBER,ACCOUNT_TITLE,GENDER,NATURE_OF_ACCOUNT,ACCOUNT_OPEN_DATE,ACCOUNT_TYPE,TYPE_OF_ONBOARDING,RESIDENTIAL_STATUS,BUSINESS,PROFESSION,IS_PEP,IS_FAMILY_PEP,IS_IP,CUSTOMER_PROVIDED_SOURCE_OF_FUND,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,3124,Brahmanbaria,1083412121994,Nargis Begum,F,S02,27/10/2021,Savings account,Internet/Self check-in/Other non Face to Face,Resident Bangladeshi,NONE,Homemaker,No,No,No,Yes,NaN,NaN,NaN
1,4853,Bogura,1083410095087,Md. Sohel Rana,M,S02,01/11/2021,Savings account,Walk-in,Resident Bangladeshi,NONE,Farmer/Fisherman/Labourer,No,No,No,No,NaN,NaN,NaN
2,8104,Sirajganj,1083433053527,Rabeya Begum,F,S02,18/11/2021,Savings account,Direct Sales Agent,Resident Bangladeshi,NONE,Farmer/Fisherman/Labourer,No,No,No,No,NaN,NaN,NaN
3,32,Noakhali,1083475068727,Yesmin Akter,F,S02,30/12/2021,Savings account,Walk-in,Resident Bangladeshi,NONE,Homemaker,No,No,No,Yes,NaN,NaN,NaN
4,7301,Rajbari,1083415065203,Md Akram Hossen,M,S02,23/01/2022,Savings account,Direct Sales Agent,Resident Bangladeshi,NONE,Government Service,No,No,No,No,NaN,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   POINT_ID                          48 non-null     int64
 1   DISTRICT                          48 non-null     object
 2   ACCOUNT_NUMBER                    48 non-null     int64
 3   ACCOUNT_TITLE                     48 non-null     object
 4   GENDER                            48 non-null     object
 5   NATURE_OF_ACCOUNT                 48 non-null     object
 6   ACCOUNT_OPEN_DATE                 48 non-null     object
 7   ACCOUNT_TYPE                      48 non-null     object
 8   TYPE_OF_ONBOARDING                48 non-null     object
 9   RESIDENTIAL_STATUS                48 non-null     object
 10  BUSINESS                          48 non-null     object
 11  PROFESSION                        48 non-null     object
 12  IS_PEP                            48 non-null     object
 13  IS_FAMILY_PEP                     48 non-null     object
 14  IS_IP                             48 non-null     object
 15  CUSTOMER_PROVIDED_SOURCE_OF_FUND  48 non-null     object
 16  Unnamed: 16                       0 non-null      float64
 17  Unnamed: 17                       0 non-null      float64
 18  Unnamed: 18                       0 non-null      float64
dtypes: float64(3), int64(2), object(14)
memory usage: 7.3+ KB

In [18]:
# Prompt to input the number of rows
rows = int(input("Enter the number of rows: "))

# Iterate through the number of rows
for i in range(1, rows+1):
    # Print hashes based on the current row number
    print('#' * i)

Enter the number of rows:  8

#
##
###
####
#####
######
#######
########

In [8]:
import zipfile as zp
with zp.ZipFile('E:\\Download\\testZip.zip','r') as file:  # Using double backslashes
    file.extractall('E:\\Download\\testeat')  # Using double backslashes

In [27]:
import pandas as pd

search_word = 'ekyc rectfication'
replace_word = 'rectfication'

file_path = r'E:\Download\ekyc_rectfication.xlsx'
df = pd.read_excel(file_path)  # Read the Excel file

# If you need to perform some operation on the data
# For example, replace the search_word with replace_word in a specific column
# df['column_name'] = df['column_name'].str.replace(search_word, replace_word)

print(df)  # Print the DataFrame to see the content

# If you made modifications, save the DataFrame back to an Excel file
# df.to_excel(r'E:\Download\modified_ekyc_rectfication.xlsx', index=False)

   Unnamed: 0       Unnamed: 1      Unnamed: 2                 Unnamed: 3  \
0    POINT_ID         DISTRICT  ACCOUNT_NUMBER              ACCOUNT_TITLE
1        3124     Brahmanbaria   1083412121994               Nargis Begum
2        4853           Bogura   1083410095087             Md. Sohel Rana
3        8104        Sirajganj   1083433053527               Rabeya Begum
4          32         Noakhali   1083475068727               Yesmin Akter
5        7301          Rajbari   1083415065203            Md Akram Hossen
6        4769          Cumilla   1083419155493         Kabita Rani Sarkar
7        3131        Joypurhat   5081138000880       PURNIMA RANI MOHANTA
8        1944            Bhola   5081109006587             SHAHANAZ BEGUM
9        2428        Sirajganj   1083488351212          MST. TANIA KHATUN
10        243          Cumilla   1083419208239            MST. MARUN NESA
11       1901       Nilphamari   1083473058295         MOST. FAYMA AKHTER
12       2151         Noakhali   1083475092704               FATEMA BEGUM
13       7877       Chattogram   1083415095180              HUMAIDA BEGUM
14        225       Shariatpur   1083459090424               Rahima Begum
15       2307         Jamalpur   5081139001345                       ALEA
16       2563       Mymensingh   1083461163929         MST. SOREFYA AKTER
17       3553          Tangail   1083493061033               REZAUL ISLAM
18       1399        Sunamganj   1083490243292  MST. TAMANNA AKTER MAMONI
19       1045         Kurigram   1083449077088           Mst Kakoli Begum
20       5834        Madaripur   1083454015111                 RANU AKTER
21       8125      Kishoreganj   1083448510933                  KAMAL MIA
22         95          Gazipur   1083433098391                    SHARMIN
23       1509        Netrokona   1083472096872                MADOBI RANI
24       7927         Chandpur   1083413202505              FARHANA AKTER
25       3374         Faridpur   1083429065447             Md. Riaz Seikh
26        726          Cumilla   1083419208908              MAHINUR AKTER
27        415            Bhola   1083409074326                 MD. RACHEL
28       2841  Chapainawabganj   1083470259030                 Mst Sakera
29       1316         Chandpur   1083413121891                Lubna Akter
30       2496       Mymensingh   1083461086967   MD. MAHMODUL HASAN HAMIM
31       2949       Mymensingh   1083461106515             Md. Hasmat Ali
32       8042        Narsingdi   1083468023189           MD KOBIR HOSSAIN
33       1316         Chandpur   1083413140311         Md. Mijanur Rahman
34        749          Cumilla   1083419150049              MD. KAYUM MIA
35       2788         Chandpur   1083413140852                 RAJIB GAZI
36        749          Cumilla   1083419150725           Md Safiqul Islam
37       1316         Chandpur   1083413141670                 Laki Akter
38       1316         Chandpur   1083413142003               Ayesha Akter
39       1400       Mymensingh   1083461110869       MOHAMMAD GOLAM FARUK
40        749          Cumilla   1083419153978              Rasheda Begum
41       1316         Chandpur   1083413145689               JANNAT AKTER
42       6770         Chandpur   1083413145750              Mariam Akhter
43       1834     Brahmanbaria   1083412128331              Sheuly Akhter
44       3109           Sylhet   1083491112564             MD NURUL ISLAM
45       1261          Tangail   1083493038554                SALMA BEGUM
46       1834     Brahmanbaria   1083412127943          Mst Taslima Akter
47       1834     Brahmanbaria   1083412128331              Sheuly Akhter
48       4624        Sirajganj   1083488237845           MD. AMIRUL ISLAM

   Unnamed: 4         Unnamed: 5         Unnamed: 6       Unnamed: 7  \
0      GENDER  NATURE_OF_ACCOUNT  ACCOUNT_OPEN_DATE     ACCOUNT_TYPE
1           F                S02         27/10/2021  Savings account
2           M                S02         01/11/2021  Savings account
3           F                S02         18/11/2021  Savings account
4           F                S02         30/12/2021  Savings account
5           M                S02         23/01/2022  Savings account
6           F                S02         25/01/2022  Savings account
7           F                S02         11/12/2024  Current account
8           F                S02         22/12/2024  Current account
9           F                S02         13/12/2024  Current account
10          F                S02         18/12/2024  Current account
11          M                S02         19/12/2024  Current account
12          F                S02         22/12/2024              FDR
13          F                S02         12/12/2024  Current account
14          F                S02         12/12/2024  Current account
15          F                S02         14/12/2024  Current account
16          F                S02         14/12/2024  Current account
17          M                S02         22/12/2024  Current account
18          F                S02         22/12/2024  Current account
19          F                S02         29/12/2024  Current account
20          F                S02         12/12/2024  Current account
21          M                S02         19/12/2024  Current account
22          F                S02         05/01/2025  Current account
23          F                S02         05/01/2025  Current account
24          F                S02         07/01/2025  Current account
25          M                S02         01/01/2025              FDR
26          F                S02         07/01/2025  Current account
27          M                S02         02/01/2025  Current account
28          F                S02         08/01/2025  Current account
29          F                S02         08/04/2021  Savings account
30          M                S02         18/04/2021  Savings account
31          M                S02         21/09/2021  Savings account
32          M                S02         27/09/2021  Savings account
33          M                S02         06/10/2021  Savings account
34          M                S02         19/10/2021  Savings account
35          M                S02         21/10/2021  Savings account
36          M                S02         30/10/2021  Savings account
37          F                S02         18/11/2021  Savings account
38          F                S02         01/12/2021  Savings account
39          M                S02         28/12/2021  Savings account
40          F                S02         03/01/2022  Savings account
41          F                S02         16/01/2022  Savings account
42          F                S02         17/01/2022  Savings account
43          F                S02         14/02/2022  Savings account
44          M                S02         22/02/2022  Savings account
45          F                S02         20/01/2022  Savings account
46          F                S02         08/02/2022  Savings account
47          F                S02         14/02/2022  Savings account
48          M                S02         27/01/2022  Savings account

                                       Unnamed: 8                Unnamed: 9  \
0                              TYPE_OF_ONBOARDING        RESIDENTIAL_STATUS
1   Internet/Self check-in/Other non Face to Face      Resident Bangladeshi
2                                         Walk-in      Resident Bangladeshi
3                              Direct Sales Agent      Resident Bangladeshi
4                                         Walk-in      Resident Bangladeshi
5                              Direct Sales Agent      Resident Bangladeshi
6                              Direct Sales Agent      Resident Bangladeshi
7                     Branch/Relationship Manager      Resident Bangladeshi
8                     Branch/Relationship Manager      Resident Bangladeshi
9                     Branch/Relationship Manager      Resident Bangladeshi
10                    Branch/Relationship Manager      Resident Bangladeshi
11                    Branch/Relationship Manager      Resident Bangladeshi
12                    Branch/Relationship Manager      Resident Bangladeshi
13                    Branch/Relationship Manager      Resident Bangladeshi
14                    Branch/Relationship Manager      Resident Bangladeshi
15                    Branch/Relationship Manager      Resident Bangladeshi
16                    Branch/Relationship Manager      Resident Bangladeshi
17                    Branch/Relationship Manager      Resident Bangladeshi
18                    Branch/Relationship Manager      Resident Bangladeshi
19                    Branch/Relationship Manager      Resident Bangladeshi
20                    Branch/Relationship Manager      Resident Bangladeshi
21                    Branch/Relationship Manager      Resident Bangladeshi
22                    Branch/Relationship Manager      Resident Bangladeshi
23                    Branch/Relationship Manager      Resident Bangladeshi
24                    Branch/Relationship Manager      Resident Bangladeshi
25                    Branch/Relationship Manager      Resident Bangladeshi
26                    Branch/Relationship Manager      Resident Bangladeshi
27                    Branch/Relationship Manager      Resident Bangladeshi
28                    Branch/Relationship Manager      Resident Bangladeshi
29                    Branch/Relationship Manager      Resident Bangladeshi
30                    Branch/Relationship Manager      Resident Bangladeshi
31                    Branch/Relationship Manager      Resident Bangladeshi
32                    Branch/Relationship Manager      Resident Bangladeshi
33                    Branch/Relationship Manager      Resident Bangladeshi
34                    Branch/Relationship Manager      Resident Bangladeshi
35                    Branch/Relationship Manager      Resident Bangladeshi
36                    Branch/Relationship Manager      Resident Bangladeshi
37                    Branch/Relationship Manager      Resident Bangladeshi
38                    Branch/Relationship Manager      Resident Bangladeshi
39                    Branch/Relationship Manager      Resident Bangladeshi
40                    Branch/Relationship Manager      Resident Bangladeshi
41                    Branch/Relationship Manager      Resident Bangladeshi
42                    Branch/Relationship Manager      Resident Bangladeshi
43                    Branch/Relationship Manager      Resident Bangladeshi
44                    Branch/Relationship Manager      Resident Bangladeshi
45                    Branch/Relationship Manager      Resident Bangladeshi
46                    Branch/Relationship Manager      Resident Bangladeshi
47                    Branch/Relationship Manager      Resident Bangladeshi
48                    Branch/Relationship Manager  Non-resident Bangladeshi

       Unnamed: 10                 Unnamed: 11 Unnamed: 12    Unnamed: 13  \
0         BUSINESS                  PROFESSION      IS_PEP  IS_FAMILY_PEP
1             NONE                   Homemaker          No             No
2             NONE   Farmer/Fisherman/Labourer          No             No
3             NONE   Farmer/Fisherman/Labourer          No             No
4             NONE                   Homemaker          No             No
5             NONE          Government Service          No             No
6         Firearms                        NONE          No             No
7             NONE                   Homemaker          No             No
8             NONE                   Homemaker          No             No
9         Firearms                        NONE          No             No
10            NONE                   Homemaker          No             No
11            NONE                   Homemaker          No             No
12          Others                        NONE          No             No
13            NONE                   Homemaker          No             No
14            NONE                   Homemaker          No             No
15            NONE                      Others          No             No
16            NONE                   Homemaker          No             No
17  Business Agent                        NONE          No             No
18            NONE                     Student          No             No
19            NONE                   Homemaker          No             No
20          Others                        NONE          No             No
21            NONE   Farmer/Fisherman/Labourer          No             No
22            NONE                   Homemaker          No             No
23            NONE                   Homemaker          No             No
24            NONE                   Homemaker          No             No
25            NONE   Farmer/Fisherman/Labourer          No             No
26            NONE                   Homemaker          No             No
27            NONE     Private Sector Employee          No             No
28            NONE                   Homemaker          No             No
29            NONE                   Homemaker         Yes            Yes
30  Business Agent                        NONE         Yes            Yes
31            NONE   Farmer/Fisherman/Labourer         Yes            Yes
32  Business Agent                        NONE          No             No
33            NONE                     Student         Yes            Yes
34            NONE  Self-employed Professional         Yes            Yes
35            NONE     Private Sector Employee         Yes            Yes
36            NONE  Self-employed Professional         Yes            Yes
37            NONE                   Homemaker         Yes            Yes
38            NONE                   Homemaker         Yes            Yes
39  Business Agent                        NONE         Yes            Yes
40            NONE                   Homemaker         Yes            Yes
41            NONE                   Homemaker         Yes            Yes
42            NONE                   Homemaker          No             No
43            NONE                   Homemaker         Yes            Yes
44  Business Agent                        NONE          No             No
45            NONE                      Others         Yes            Yes
46            NONE                   Homemaker         Yes            Yes
47            NONE                   Homemaker         Yes            Yes
48  Business Agent                        NONE          No             No

                     Unnamed: 14                       Unnamed: 15
0                          IS_IP  CUSTOMER_PROVIDED_SOURCE_OF_FUND
1                             No                               Yes
2                             No                                No
3                             No                                No
4                             No                               Yes
5                             No                                No
6                             No                               Yes
7                             No                                No
8                             No                                No
9                             No                               Yes
10                            No                                No
11                            No                                No
12                            No                               Yes
13                            No                               Yes
14                            No                                No
15                            No                                No
16                            No                               Yes
17                            No                               Yes
18                            No                                No
19                            No                               Yes
20                            No                               Yes
21                            No                                No
22                            No                                No
23                            No                                No
24                            No                               Yes
25                            No                               Yes
26                            No                                No
27                            No                                No
28                            No                               Yes
29  Yes (based on assessed risk)                                No
30  Yes (based on assessed risk)                               Yes
31  Yes (based on assessed risk)                               Yes
32  Yes (based on assessed risk)                               Yes
33  Yes (based on assessed risk)                                No
34  Yes (based on assessed risk)                               Yes
35  Yes (based on assessed risk)                               Yes
36  Yes (based on assessed risk)                               Yes
37  Yes (based on assessed risk)                                No
38  Yes (based on assessed risk)                                No
39  Yes (based on assessed risk)                               Yes
40  Yes (based on assessed risk)                               Yes
41  Yes (based on assessed risk)                                No
42  Yes (based on assessed risk)                               Yes
43  Yes (based on assessed risk)                                No
44  Yes (based on assessed risk)                               Yes
45                            No                                No
46                            No                                No
47  Yes (based on assessed risk)                                No
48                            No                                No

In [24]:
symbole= chr(64)
print (symbole)

@

In [26]:
return_symbole=ord('@')
print(return_symbole)

64

In [10]:
# Write a function in python that wont take any parameters explicitly. Instead, it defines local variables a and b 
# within the function and returns their sum. The values of a and b are fixed within the function.

def sum_ab():
    a = 9  # You can set any fixed value for a
    b = 3  # You can set any fixed value for b
    return a + b
# Example usage:
result = sum_ab()
print("The sum of a and b is:", result)

The sum of a and b is: 12

In [2]:
import os
print("Download path:", os.getcwd())  # Prints the current working directory

Download path: E:\Data Science\python

In [2]:
pip install pytubefix

Collecting pytubefixNote: you may need to restart the kernel to use updated packages.

  Downloading pytubefix-8.12.1-py3-none-any.whl.metadata (5.3 kB)
Downloading pytubefix-8.12.1-py3-none-any.whl (730 kB)
   ---------------------------------------- 0.0/730.7 kB ? eta -:--:--
   -------------- ------------------------- 262.1/730.7 kB ? eta -:--:--
   ---------------------------------------- 730.7/730.7 kB 5.0 MB/s eta 0:00:00
Installing collected packages: pytubefix
Successfully installed pytubefix-8.12.1

In [1]:
from pytubefix import YouTube
from pytubefix.cli import on_progress
 
url = "https://youtu.be/N8TuSqD7EcA"

yt = YouTube(url, on_progress_callback = on_progress)
print(yt.title)
 
ys = yt.streams.get_highest_resolution()
ys.download()

How to Learn Data Science & Artificial Intelligence | The Ultimate Guide on ML & AI (Bangla)

'E:\\Data Science\\python\\How to Learn Data Science & Artificial Intelligence  The Ultimate Guide on ML & AI (Bangla).mp4'

In [3]:
# !pip install pypdf

In [3]:
# List comprehension
even_squares = [x ** 2 for x in range(10) if x % 2 == 0]
even_squares

[0, 4, 16, 36, 64]

In [7]:
# Generator expression
even_squares_gen = (x ** 2 for x in range(10) if x % 2 == 0)

for square in even_squares_gen:
    print(square)

0
4
16
36
64

In [13]:
import sys
print('List comprehension =',sys.getsizeof(even_squares))
print('Generator =',sys.getsizeof(even_squares_gen))

List comprehension = 120
Generator = 200

In [11]:
even_squares_tuple = tuple(x ** 2 for x in range(10) if x % 2 == 0)
even_squares_tuple

(0, 4, 16, 36, 64)